body {
    background: repeating-linear-gradient(to bottom, #9ef5f4 0%, #f6c289 100%);
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    position: fixed;
    height: 35px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #f6c289;
    z-index: 100;
}

.navbar {
    width: 100%;
    position: fixed;
    font-size: 20px;
    background-color: #00928F;
    z-index: 100;
}

.Burger {

    text-align: center;
    -webkit-text-stroke-width: medium;
    color: #f6c289;
    padding: 14px;
    position: absolute;
    top: 112px;
    display: inline-flex;
}

.burgerHome{


    margin-right: 30px;
    margin-left: 20px;
    text-decoration: none;
    display: none;
    color: #f6c289;

}

.burgerHome:hover {
    color: #7C5E40;
    text-shadow: 5px 5px 8px #f6c289;
}

.burgerUs{
    text-decoration: underline;
    display: none;
    color: #f6c289;

}

.burgerUs:hover {
    color: #7C5E40;
    text-shadow: 5px 5px 8px #f6c289;

}

.nav-link {
    font-size: 25px;
    color: #f6c289;
}

.nav-link.navText {
    font-size: 35px;
    color: #9ef5f4;
    margin: 0 auto;
    cursor: none;
    font-family: 'Signpainter', cursive, 'serif';
}

.nav-link.navText:hover {
    color: #9ef5f4;
    font-size: 45px;
}

.navbar-nav {
    position: absolute;
    right: 5%;
}

.text-uppercase,
.fw-bold,
.mb-4 {
    color: #76593bb8;
    text-decoration: none;
}

.me-5.d-none.d-lg-block,
.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4,
.text-uppercase.fw-bold.mb-4,
.text-reset,
.text-center.p-4 {
    color: #7C5E40;
    text-decoration: none;
}

.fab {
    color: #7C5E40;
}

.navbar-brand {
    color: #f6c289;
    margin-left: 40px;
    font-size: 90px !important;
    font-family: 'Signpainter', cursive, 'serif';
}

.navbar-brand:hover {
    color: #7C5E40;
    text-shadow: 5px 5px 8px #f6c289;
}

.nav-link {
    font-size: 25px;
    color: #f6c289;
}

.nav-link:hover {
    color: #7C5E40;
}

.nav-link:visited {
    text-decoration: underline;
}

#stores {
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2%;
}

#storesText {
    display: block;
    margin-left: -2%;
    font-family: 'Signpainter', cursive, 'serif';
    color: #14928F;
    font-size: x-large;
}

#android:hover {
    cursor: not-allowed;
}

#android {
    mix-blend-mode: color;
}

#ios:hover {
    cursor: pointer;
}

#logo {
    height: 140px;
}

#intro {
    background-color: blue;
}

#tittleHead {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Signpainter', cursive, 'serif';
    font-size: 60px;
    color: #9EF5F4;
}

#footerState {
    width: 120px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    color: #f6c289;
    background-color: #7C5E40;
    font-weight: 700;
    margin-top: 5px;
}

#footerState:hover {
    cursor: pointer;
}

#cuadroInfo {
    display: inline-block;
    /*margin: 10%;*/
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
    border: black solid 2px;
}

#cuadroInfo2 {
    display: inline;
    /* margin: 10%; */
    margin-left: 25%;
    /* margin-top: 15%; */
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
}

#cuadroFoto {
    display: inline-flex;
    /* margin: 10%; */
    /* margin-left: 100%; */
    /* margin-top: 40%; */
    width: 20%;
    background-color: #179D9A;
    /* padding: 31%; */
    border-radius: 26px;
    /* border: aliceblue solid 3px;*/
}

#cuadroFoto1 {
    display: inline-flex;
    margin: 54px;
    margin-left: 4%;
    /* margin-top: 40%; */
    width: 12%;
    background-color: #179D9A;
    padding: 1%;
    border-radius: 197px;
    border: black solid 1px;
}

#imgTeam {
    width: 100%;
    border-radius: 50%;
    /*margin-left: 20%;/*
    /*border: black solid 3px;*/
}

#textoFoto {
    display: list-item;
    margin-left: 2%;
    margin-top: 13%;
    font-size: 130%;
    position: absolute;
    font-family: 'Signpainter', cursive, 'serif';
}

#textoTittle {
    margin-top: 5%;
    margin-bottom: -10%;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Signpainter', cursive, 'serif';
    color: #179D9A;
    text-align: center;
    text-decoration: underline;
}

#imgIntro {
    margin-left: 4%;
    margin-top: 15%;
    width: 18%;
    height: 72%;
    transform: rotate(4deg);
    position: absolute;
    z-index: 50;
}

#imgIntro1 {
    margin-left: 3%;
    margin-top: 20%;
    width: 18%;
    height: 72%;
    transform: rotate(-8deg);
    position: absolute;
    z-index: 50;
}

#textoTittle1 {
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Signpainter', cursive, 'serif';
    color: #179D9A;
    text-align: center;
    text-decoration: underline;
}


/*#cuadroMapa{
    display: inline-block;
    margin: 10%;
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    background-color: #7C5E40;
    padding: 4%;
    border-radius: 26px;

}*/

#cuadroMapa {
    display: inline-block;
    margin: 10%;
    margin-left: 27%;
    width: 46%;
    height: 815px;
    /*background-color: #f6c289;*/
    padding: 4%;
    border-radius: 26px;
    /* border: #7C5E40 solid 1px; */
}

.mapacanvas {
    overflow: hidden;
    background: none!important;
    height: 82%;
    width: 99%;
    border-radius: 10px;
    border: 1px black solid;
}

.textoMapa {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Signpainter', cursive, 'serif';
    color: #7C5E40;
    text-align: center;
    text-decoration: underline;
}





/* Responsive

A partir de 1450x976 las imágenes de los móviles deberían 
hacerse mas pequeñas o colocarse mejor. Ajustar imagenes y nombres team


            -->1450x976<-- */

@media screen and (max-width: 1550px){

    #cuadroFoto1 {
        display: inline-flex;
        margin: 54px;
        margin-left: 4%;
        width: 10%;
        background-color: #179D9A;
        padding: 1%;
        border-radius: 197px;
        border: black solid 1px;
    }

    #textoFoto {
        display: list-item;
        margin-left: 1%;
        margin-top: 10%;
        font-size: 130%;
        position: absolute;
        font-family: 'Signpainter', cursive, 'serif';
    }

    #stores {
        text-align: center;
        margin-left: 3%;
        margin-bottom: 5%;
    }

    .mapacanvas {
        overflow: hidden;
        background: none!important;
        height: 78%;
        width: 132%;
        border-radius: 10px;
        border: 1px black solid;
    }

    .textoMapa {
        font-weight: bold;
        font-size: 35px;
        font-family: 'Signpainter', cursive, 'serif';
        color: #7C5E40;
        text-align: center;
        text-decoration: underline;
        width: 700px;
    }

    #imgIntro1 {
        margin-left: 3%;
        margin-top: 20%;
        width: 15%;
        height: 52%;
        transform: rotate(-8deg);
        position: absolute;
        z-index: 50;
    }

    #imgIntro {
        margin-left: 4%;
        margin-top: 15%;
        width: 15%;
        height: 50%;
        transform: rotate(4deg);
        position: absolute;
        z-index: 50;
    }

    #cuadroInfo {
        display: inline-block;
        margin-left: 25%;
        margin-top: 20%;
        width: 50%;
        background-color: #179D9A;
        padding: 2%;
        border-radius: 26px;
        border: black solid 2px;
    }

}

/*A partir de 994x976 los headers de home y about us desaparecen, faltaria colocarlos y quitar 
el texto del titulo o ponerlo debajo de "RELIEF", 

**FALTARIA PODER MOVER O CREAR HAMBURGUESA PARA NAVEGACION HOME ABOUT US**
            ->994x976<-*/

@media screen and (max-width: 1200px)  /*(max-height: 800px)*/{

    #stores {
        text-align: center;
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .mapacanvas {
        overflow: hidden;
        background: none!important;
        height: 74%;
        width: 720px;
        border-radius: 10px;
        border: 1px black solid;
        margin-left: -170px;
    }

    .textoMapa {
        font-weight: bold;
        font-size: 35px;
        font-family: 'Signpainter', cursive, 'serif';
        color: #7C5E40;
        text-align: center;
        text-decoration: underline;
        width: 450px;
    }

    #cuadroFoto1 {
        display: inline-flex;
        margin: 54px;
        margin-left: 2%;
        width: 12%;
        background-color: #179D9A;
        padding: 1%;
        border-radius: 197px;
        border: black solid 1px;
    }

    #textoFoto {
        display: list-item;
        margin-top: 13%;
        font-size: 130%;
        position: absolute;
        font-family: 'Signpainter', cursive, 'serif';
    }

    #imgIntro1 {
        margin-left: 3%;
        width: 155px;
        height: 320px;
        transform: rotate(-8deg);
        position: absolute;
        z-index: 50;
        bottom: 0px;

        /*position: relative;*/
        
    }

    #imgIntro {
        margin-left: 3%;
        margin-top: 15%;
        width: 155px;
        height: 320px;
        transform: rotate(4deg);
        position: absolute;
        z-index: 50;
        bottom: 340px;
    }
}

/*A partir de 500x976 hacer otro más para poder adaptarse a pantallas verticales pequeñas
o para móviles, el cuadro de texto inicial tiene que tener mas margen arriba, dejar colocadas las imagenes del team
colocar el tamaño del mapa 
meter mas margin bottom en los enlaces del final

**FALTARIA PODER MOVER O CREAR HAMBURGUESA PARA NAVEGACION HOME ABOUT US**
            ->550x076<-*/

@media screen and (max-width: 992px){
  .burgerHome {
    display: inline-flex;
  }

  .burgerUs {
    display: inline-flex;

  }

}

@media screen and (max-width: 800px) /*and (max-height: 800px)*/{

  #cuadroInfo {
    display: inline-block;
    margin-left: 10%;
    margin-top: 60%;
    width: 80%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
    border: black solid 2px;
    }

    #imgIntro {
    width: 90px;
    height: 180px;
    position: relative;
    z-index: 50;
    bottom: 45px;
    left: 200px;

    }

    #imgIntro1 {
        
        display: none;
    }

    #cuadroFoto1 {
        display: inline-flex;
        margin: 54px;
        margin-left: 15%;
        width: 22%;
        background-color: #179D9A;
        padding: 1%;
        border-radius: 197px;
        border: black solid 1px;
    }

    #textoFoto {
        display: list-item;
        margin-top: 20%;
        font-size: 130%;
        position: absolute;
        font-family: 'Signpainter', cursive, 'serif';
    }

    #imgTeam {
        width: 95px;
        border-radius: 50%;
    }

    .textoMapa {
        font-weight: bold;
        font-size: 35px;
        font-family: 'Signpainter', cursive, 'serif';
        color: #7C5E40;
        text-align: center;
        text-decoration: underline;
        width: 351px;
        margin-left: -75px;
    }

    .mapacanvas {
        overflow: hidden;
        background: none!important;
        height: 546px;
        width: 450px;
        border-radius: 10px;
        border: 1px black solid;
        margin-left: -125px;
    }

    #stores {
        text-align: center;
        margin-left: 2%;
        margin-bottom: 10%;
    }

    .burgerHome {
    display: inline-flex;
  }

  .burgerUs {
    display: inline-flex;
    
  }
}