body {
    background: repeating-linear-gradient(to bottom, #9ef5f4 0%, #f6c289 100%);
}

footer {
    position: fixed;
    height: 35px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #7C5E40;
}

.navbar {
    width: 100%;
    position: fixed;
    font-size: 20px;
    background-color: #00928F;
}
.nav-link{
    font-size: 25px;
    color: #f6c289;
}
.navbar-nav{
    position: absolute;
    right: 5%;
}
.me-5.d-none.d-lg-block,.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4,.text-uppercase.fw-bold.mb-4,.text-reset,.text-center.p-4{
    color: white;
    text-decoration: none;
}

.navbar-brand {
    color: #f6c289;
    margin-left: 40px;
    font-size: 90px !important;
    font-family: 'Signpainter', cursive, 'serif';
}
.navbar-brand:hover{
    color: #7C5E40;
    text-shadow: 5px 5px 8px #f6c289;
}
.nav-link:hover{
    color: #7C5E40;
}
#stores {
   text-align: center;
   /*margin-top: 44%;*/
   margin-bottom: 2%;
   
   
}

#storesText{
    display: block;
    margin-left: -2%;
    font-family: 'Signpainter', cursive, 'serif';
    color: #14928F;
    font-size: x-large;
}

#android:hover{
    cursor: not-allowed;    
}
#ios:hover{
    cursor: pointer;
}



#logo {
    height: 140px;
}

#intro{
    background-color: blue;
}

#tittleHead {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Signpainter', cursive, 'serif';
    font-size: 60px;
    color: #9EF5F4;
}

#footerState {
    width: 120px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    color: #7C5E40;
    background-color: #f6c289;
    font-weight: 700;
    margin-top: 5px;
}

#footerState:hover {
    cursor: pointer;
}

#cuadroInfo{
    display: inline-block;
    /*margin: 10%;*/
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;

}

#cuadroInfo2{
    display: inline;
    /* margin: 10%; */
    margin-left: 25%;
    /* margin-top: 15%; */
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
    

}

/*#cuadroFoto{
    display: inline-block;
    /* margin: 10%; 
    margin-left: 25%;
    /* margin-top: 15%; 
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
    border: aliceblue solid 3px;

}*/

#cuadroFoto {
    display: table-caption;
    /* margin: 10%; */
    margin-left: 100%;
    margin-top: 40%;
    width: 364%;
    background-color: #179D9A;
    padding: 31%;
    border-radius: 26px;
    /*border: aliceblue solid 3px;*/

}

#imgTeam{
    width: 53%;
    border-radius: 45px;
    margin-left: 20%;
    border: black solid 3px;

}

#textoFoto {
    display: list-item;
    margin-left: 20%;

}

#textoTittle{
    font-size: 80px;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: bold;
}

#cuadroMapa{
    display: inline-block;
    margin: 10%;
    margin-left: 25%;
    /*margin-top: 15%;*/
    width: 50%;
    background-color: #7C5E40;
    padding: 4%;
    border-radius: 26px;

}

#mapa{
    width: 91%;
    border-radius: 45px;
    margin-left: 5%;
    border: black solid 3px;

}

p{
    color: #9ef5f4 ;
}




