body {
    background: repeating-linear-gradient(to bottom, #9ef5f4 0%, #f6c289 100%);
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    position: fixed;
    height: 35px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #f6c289;
    z-index: 100;
}

.navbar {
    width: 100%;
    position: fixed;
    font-size: 20px;
    background-color: #00928F;
    z-index: 100;
}

.nav-link {
    font-size: 25px;
    color: #f6c289;
}

.nav-link.navText {
    font-size: 35px;
    color: #9ef5f4;
    margin: 0 auto;
    cursor: none;
    font-family: 'Signpainter', cursive, 'serif';
}

.nav-link.navText:hover {
    color: #9ef5f4;
    font-size: 45px;
}

.navbar-nav {
    position: absolute;
    right: 5%;
}

.text-uppercase,
.fw-bold,
.mb-4 {
    color: #76593bb8;
    text-decoration: none;
}

.me-5.d-none.d-lg-block,
.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4,
.text-uppercase.fw-bold.mb-4,
.text-reset,
.text-center.p-4 {
    color: #7C5E40;
    text-decoration: none;
}

.fab {
    color: #7C5E40;
}

.navbar-brand {
    color: #f6c289;
    margin-left: 40px;
    font-size: 90px !important;
    font-family: 'Signpainter', cursive, 'serif';
}

.navbar-brand:hover {
    color: #7C5E40;
    text-shadow: 5px 5px 8px #f6c289;
}

.nav-link:hover {
    color: #7C5E40;
}

.nav-link:visited {
    text-decoration: underline;
}

#stores {
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2%;
}

#storesText {
    display: block;
    margin-left: -2%;
    font-family: 'Signpainter', cursive, 'serif';
    color: #14928F;
    font-size: x-large;
}

#android:hover {
    cursor: not-allowed;
}

#ios:hover {
    cursor: pointer;
}

#logo {
    height: 140px;
}

#intro {
    background-color: blue;
}

#tittleHead {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Signpainter', cursive, 'serif';
    font-size: 60px;
    color: #9EF5F4;
}

#footerState {
    width: 120px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    color: #f6c289;
    background-color: #7C5E40;
    font-weight: 700;
    margin-top: 5px;
}

#footerState:hover {
    cursor: pointer;
}

#cuadroInfo {
    display: inline-block;
    /*margin: 10%;*/
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
    border: black solid 2px;
}

#cuadroInfo2 {
    display: inline;
    /* margin: 10%; */
    margin-left: 25%;
    /* margin-top: 15%; */
    width: 50%;
    background-color: #179D9A;
    padding: 2%;
    border-radius: 26px;
}

#cuadroFoto {
    display: inline-flex;
    /* margin: 10%; */
    /* margin-left: 100%; */
    /* margin-top: 40%; */
    width: 20%;
    background-color: #179D9A;
    /* padding: 31%; */
    border-radius: 26px;
    /* border: aliceblue solid 3px;*/
}

#cuadroFoto1 {
    display: inline-flex;
    margin: 54px;
    /*margin-left: 2%;*/
    /* margin-top: 40%; */
    width: 14%;
    background-color: #179D9A;
    padding: 1%;
    border-radius: 197px;
    border: black solid 1px;
}

#imgTeam {
    width: 100%;
    border-radius: 50%;
    /*margin-left: 20%;/*
    /*border: black solid 3px;*/
}

#textoFoto {
    display: list-item;
    margin-left: 3%;
    margin-top: 13%;
    font-size: 150%;
    position: absolute;
    font-family: 'Signpainter', cursive, 'serif';
}

#textoTittle {
    margin-top: 5%;
    margin-bottom: -10%;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Signpainter', cursive, 'serif';
    color: #179D9A;
    text-align: center;
    text-decoration: underline;
}

#imgIntro {
    margin-left: 6%;
    margin-top: 15%;
    width: 300px;
    height: 600px;
    transform: rotate(4deg);
    position: absolute;
    z-index: 50;
}

#imgIntro1 {
    margin-left: 5%;
    margin-top: 30%;
    width: 300px;
    height: 600px;
    transform: rotate(-8deg);
    position: absolute;
    z-index: 50;
}

#textoTittle1 {
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Signpainter', cursive, 'serif';
    color: #179D9A;
    text-align: center;
    text-decoration: underline;
}


/*#cuadroMapa{
    display: inline-block;
    margin: 10%;
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    background-color: #7C5E40;
    padding: 4%;
    border-radius: 26px;

}*/

#cuadroMapa {
    display: inline-block;
    margin: 10%;
    margin-left: 27%;
    width: 46%;
    height: 815px;
    /*background-color: #f6c289;*/
    padding: 4%;
    border-radius: 26px;
    /* border: #7C5E40 solid 1px; */
}

.mapacanvas {
    overflow: hidden;
    background: none!important;
    height: 545px;
    width: 719px;
    border-radius: 10px;
    border: 1px black solid;
}

.textoMapa {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Signpainter', cursive, 'serif';
    color: #7C5E40;
    text-align: center;
    text-decoration: underline;
}